body {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow-x: hidden;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  width: 100%;
  background-color: #f3976c;
}

a,
button {
  transition: all 0.3s ease-in-out;
  outline: 0 !important;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
.bloc {
  width: 100%;
  clear: both;
  background: 50% 50% no-repeat;
  padding: 0 50px;
  background-size: cover;
  position: relative;
}
.bloc .container {
  padding-left: 0;
  padding-right: 0;
}
.bloc-lg {
  padding: 100px 50px;
}
.bloc-md {
  padding: 50px;
}
.bloc-sm {
  padding: 20px 50px;
}
.bg-b-edge,
.bg-br-edge,
.bg-center,
.bg-l-edge,
.bg-r-edge,
.bg-repeat,
.bg-t-edge {
  background-size: auto !important;
}
.bg-repeat {
  background: repeat;
}
.bg-t-edge {
  background: top no-repeat;
}
.bloc-bg-texture::before {
  content: "";
  background-size: 2px 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.texture-paper::before {
  background: url(https://leob95.github.io/P04_LeoBlanchon_02062021_AFTER/img/texture-paper.png);
  background-size: 280px 280px;
}
.b-parallax {
  background-attachment: fixed;
}
.d-bloc {
  color: rgba(255, 255, 255, 0.7);
}
.d-bloc button:hover {
  color: rgba(255, 255, 255, 0.9);
}
.d-bloc .a-btn,
.d-bloc .navbar a,
.d-bloc .navbar-brand,
.d-bloc a .icon-lg,
.d-bloc a .icon-md,
.d-bloc a .icon-sm,
.d-bloc h1 a,
.d-bloc p a {
  color: rgba(255, 255, 255, 0.6);
}
.d-bloc .a-btn:hover,
.d-bloc .navbar a:hover,
.d-bloc .navbar-brand:hover,
.d-bloc a:hover .icon-lg,
.d-bloc a:hover .icon-md,
.d-bloc a:hover .icon-sm,
.d-bloc h1 a:hover,
.d-bloc h2 a:hover,
.d-bloc p a:hover,
p.lastTitle {
  color: #fff;
}
.d-bloc .navbar-toggle .icon-bar {
  background: #fff;
}
.l-bloc button:hover {
  color: rgba(0, 0, 0, 0.7);
}
.l-bloc .a-btn,
.l-bloc .navbar a,
.l-bloc .navbar-brand,
.l-bloc a .icon-lg,
.l-bloc a .icon-md,
.l-bloc a .icon-sm,
.l-bloc h1 a,
.l-bloc h2 a,
.l-bloc p a,
p.lastTitle {
  color: rgba(0, 0, 0, 0.6);
}
.l-bloc .a-btn:hover,
.l-bloc .navbar a:hover,
.l-bloc .navbar-brand:hover,
.l-bloc a:hover .icon-lg,
.l-bloc a:hover .icon-md,
.l-bloc a:hover .icon-sm,
.l-bloc h1 a:hover,
.l-bloc h2 a:hover,
.l-bloc p a:hover,
p.lastTitle {
  color: #000;
}
.l-bloc .navbar-toggle .icon-bar {
  color: rgba(0, 0, 0, 0.6);
}
.voffset {
  margin-top: 30px;
}
.voffset-lg {
  margin-top: 80px;
}
.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.row-no-gutters > [class*=" col-"],
.row.row-no-gutters > [class^="col-"] {
  padding-right: 0;
  padding-left: 0;
}
#bloc-1-hero h1 {
  font-size: 32px;
  color: black;
}
#bloc-h1-hero {
  color: #000;
  background-color: #f2f2f27c;
}
.navbar {
  margin-bottom: 0;
  z-index: 1;
}
.navbar-brand {
  height: auto;
  padding: 3px 15px;
  font-size: 25px;
  font-weight: 400;
  font-weight: 600;
  line-height: 44px;
}
.navbar-brand img {
  display: inline;
  max-height: 200px;
  margin: 0 5px 0 0;
}
.navbar-brand img[src$="svg"] {
  min-width: 100px;
}
.nav-center .navbar-brand img {
  margin: 0;
}
.navbar .nav {
  padding-top: 2px;
  margin-right: 100px;
  float: right;
  z-index: 1;
}
.nav > li {
  float: left;
  margin-top: 4px;
  font-size: 16px;
}
.headerImg {
  float: left;
}
@media (min-width: 768px) {
  .site-navigation {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
  }
  .nav-center {
    text-align: center;
  }
  .nav-center .navbar-header {
    width: 100%;
  }
  .nav-center .nav > li,
  .nav-center .navbar-brand,
  .nav-center .navbar-header {
    float: none;
    display: inline-block;
  }
  .nav-center .site-navigation {
    position: relative;
    width: 100%;
    right: 0;
    margin-right: 0;
    margin-top: 20px;
  }
}
.nav > li > .dropdown a {
  background: 0 0 !important;
  display: block;
  padding: 14px 15px;
}
.navbar-toggle .icon-bar {
  background-color: rgba(0, 0, 0, 0.5);
  width: 26px;
}
.mg-md {
  margin-top: 10px;
  margin-bottom: 20px;
}
.mg-lg {
  margin-top: 10px;
  margin-bottom: 40px;
}
.btn {
  margin: 0 5px 5px 0;
}
.btn-d:focus {
  border: #0065fc solid 2px;
  outline: 2px solid #0065fc;
  padding: 10px;
}
button {
  outline: 0 !important;
}
.btn-rd {
  border-radius: 40px;
}
.btn-clean {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom-color: rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 1, 0.25),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
}
.icon-md {
  font-size: 30px !important;
}
.icon-lg {
  font-size: 60px !important;
}
.sm-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.form-control {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  border: 4px solid #000;
  background-color: #e2e2e2;
  box-shadow: none;
}
.form-control:active {
  border-color: #0065fc;
}
.form-control:focus {
  border-color: #0065fc;
}
.form-control:hover {
  border-color: #0065fc;
}
.scrollToTop {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  z-index: 500;
  transition: all 0.3s ease-in-out;
}
.scrollToTop span {
  margin-top: 6px;
}
a[data-lightbox] {
  position: relative;
  display: block;
  text-align: center;
}
a[data-lightbox]:hover::before {
  content: "+";
  font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial;
  font-size: 32px;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-weight: 100;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
a[data-lightbox]:hover img {
  opacity: 0.6;
  animation-fill-mode: none;
}
.lightbox-caption {
  padding: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 5px;
}
.snapshot-lb .lightbox-caption {
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
  background: 0 0;
}
.btn,
a,
h1,
h2,
label,
p,
p.lastTitle {
  font-family: helvetica;
  font-weight: bolder;
  font-size: 24px;
  display: flex;
  margin-bottom: 10px;
  margin-top: 40px;
  justify-content: center;
}
h2.projects {
  text-transform: uppercase;
}
.h2SubProjects {
  font-family: helvetica;
  font-size: 18px;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}
.container {
  max-width: 1000px;
}
.hero-bloc-text {
  font-size: 38px;
}
.hero-bloc-text-sub {
  font-size: 36px;
}
p {
  font-size: 11px;
}
.tight-width-whitespace {
  max-width: 600px;
  margin: auto auto auto auto;
}
.h1 {
  font-size: 20px;
  font-family: "Open Sans";
}
.cta-hero {
  margin-top: 22px;
  color: #fff !important;
  text-transform: uppercase;
  padding: 12px 28px 12px 28px;
  font-size: 16px;
  font-weight: 700;
}
.social {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-decoration: none;
  text-align: right;
}
.social i {
  font-size: 30px;
  color: #361607 !important;
  background-color: transparent !important;
}
.social i:hover {
  transform: scale(1.5) !important;
  color: gray !important;
}
h2.services {
  font-size: 24px;
  line-height: 1.4em;
}
.h2SubServices {
  font-size: 18px;
  line-height: 1.4em;
}
h2.knowUs {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333 !important;
}
.h2SubKnowUs {
  font-size: 15px;
  font-weight: 700;
  color: black;
}
.med-width-whitespace {
  max-width: 800px;
  margin: auto auto auto auto;
  box-shadow: 0 0 0 #000;
}
.h2SubProjects,
h2.projects {
  color: #333 !important;
}
.icons {
  margin-bottom: 14px;
  margin-top: 24px;
}
.brownText {
  color: #361607;
  justify-content: center;
  font-size: 18px;
}
.portfolio-thumb {
  margin-bottom: 24px;
  width: 100%;
}
.portfolio-row {
  margin-bottom: 44px;
  margin-top: 50px;
}
.black-background {
  background-color: rgba(165, 147, 99, 0.7);
  padding: 40px 40px 40px 40px;
}
.bgc-white {
  background-color: #fff;
}
.bgc-dark-slate-blue {
  background-color: #364577;
}
.bgc-atomic-tangerine {
  background-color: #f3976c;
  color: #000;
}
.btn-atomic-tangerine {
  background: #f3976c;
  color: #000 !important;
  justify-content: center;
}
.btn-atomic-tangerine:hover {
  background: #000 !important;
  color: #c27956 !important;
}
.icon-dark-slate-blue {
  color: #364577 !important;
  border-color: #364577 !important;
}
.bg-dots-bg {
  background-image: url(https://leob95.github.io/P04_LeoBlanchon_02062021_AFTER/img/dots-bg.png);
  color: #fff;
}
.bg-lines-h2-bg {
  background-image: url(https://leob95.github.io/P04_LeoBlanchon_02062021_AFTER/img/lines-h2-bg.png);
}
.bg-banniere {
  background-image: url(https://leob95.github.io/P04_LeoBlanchon_02062021_AFTER/img/la-chouette-agence-banniere.jpg);
}
.bg-presentation {
  background-image: url(https://leob95.github.io/P04_LeoBlanchon_02062021_AFTER/img/image-de-presentation.bmp);
}
@media (max-width: 1024px) {
  .bloc {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .navbar .nav {
    max-width: 80%;
  }
  .nav-center.navbar .nav {
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .b-parallax {
    background-attachment: scroll;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .b-parallax {
    background-attachment: scroll;
  }
}
@media (max-width: 991px) {
  .container {
    width: 100%;
  }
  .b-parallax {
    background-attachment: scroll;
  }
  #hero-bloc,
  .page-container {
    overflow-x: hidden;
    position: relative;
  }
  .bloc-group,
  .bloc-group .bloc {
    display: block;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .page-container {
    overflow-x: hidden;
    position: relative;
  }
  h1,
  h2,
  p {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .b-parallax {
    background-attachment: scroll;
  }
  .navbar .nav {
    padding-top: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    float: none !important;
  }
  .navbar.row {
    margin-left: 0;
    margin-right: 0;
  }
  .site-navigation {
    position: inherit;
    transform: none;
  }
  .nav > li {
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.05);
    text-align: left;
    padding-left: 15px;
    width: 100%;
  }
  .nav > li:hover {
    background: rgba(0, 0, 0, 0.08);
  }
  #hero-bloc .navbar .nav {
    background: rgba(0, 0, 0, 0.8);
  }
  #hero-bloc .navbar .nav a {
    color: rgba(255, 255, 255, 0.6);
  }
  .hero {
    padding: 50px 0;
  }
  .hero-nav {
    left: -1px;
    right: -1px;
  }
  .navbar-collapse {
    padding: 0;
    overflow-x: hidden;
    box-shadow: none;
  }
  .navbar-brand img {
    max-height: 40px;
    width: auto;
  }
  .bloc {
    padding-left: 0;
    padding-right: 0;
  }
  .bloc-lg {
    padding: 40px 0;
  }
  .bloc-md,
  .bloc-sm {
    padding-left: 0;
    padding-right: 0;
  }
  .a-block {
    padding: 0 10px;
  }
  .voffset {
    margin-top: 5px;
  }
  .voffset-md {
    margin-top: 20px;
  }
  .voffset-lg {
    margin-top: 30px;
  }
  form {
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
    color: white;
  }
  img.footerLogo {
    justify-content: left;
    text-align: left;
  }
}
@media (max-width: 400px) {
  .bloc {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .page-container {
    overflow-x: hidden;
    position: relative;
  }
  h1,
  h2,
  p {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .b-parallax {
    background-attachment: scroll;
  }
  .navbar .nav {
    padding-top: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    float: none !important;
  }
  .navbar.row {
    margin-left: 0;
    margin-right: 0;
  }
  .site-navigation {
    position: inherit;
    transform: none;
  }
  .nav > li {
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.05);
    text-align: left;
    padding-left: 15px;
    width: 100%;
  }
  .nav > li:hover {
    background: rgba(0, 0, 0, 0.08);
  }
  #hero-bloc .navbar .nav {
    background: rgba(0, 0, 0, 0.8);
  }
  #hero-bloc .navbar .nav a {
    color: rgba(255, 255, 255, 0.6);
  }
  .hero {
    padding: 50px 0;
  }
  .hero-nav {
    left: -1px;
    right: -1px;
  }
  .headerLogo img h1.titleContact {
    line-height: 1.5;
    padding-bottom: 20px;
    border-bottom: dotted 4px #361607;
  }
  .mainContact {
    margin: 0;
    height: 100%;
    justify-content: center;
    background-color: #e2e2e2;
  }
  .labelName {
    width: 180px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  form {
    flex-direction: column;
    width: 180px;
    justify-content: left;
    margin: 0;
  }
  input {
    background-color: #fff;
    color: #000;
    display: inline;
    width: 180px;
    font-size: 16px;
    margin-bottom: 50px;
  }
  #name {
    color: #000;
    background-color: #fff;
  }
  .formContainer {
    justify-content: left;
    margin: 10px;
  }
  textarea {
    background-color: #fff;
    width: 180px;
    height: 250px;
  }
  .contactBtn {
    justify-content: center;
    margin: 10px;
  }
  .social {
    padding: 5px;
    justify-content: center;
  }
}
.textQuote {
  display: inline;
}
blockquote {
  color: #361607;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
  font-size: 17.5px;
  border-left: 5px solid #361607;
  border-right: 5px solid #361607;
  text-align: justify;
  text-align: center;
  font-size: 18px;
}
strong {
  font-size: 18px;
  border-bottom: 5px solid #361607;
  padding-bottom: 30px;
  text-align: justify;
  color: #361607;
}
.bloc-lg {
  margin-top: 40px;
}
main.mainContact {
  background-color: #e2e2e2;
  justify-content: center;
  width: 100%;
}
.titleCard p {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}
.textCard p {
  font-size: 14px;
  font-weight: 400;
}
.titleIcon {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 0;
}
p.text-center {
  font-size: 18px;
  justify-content: center;
  margin-top: 0;
  color: #361607;
}
h1 {
  text-transform: uppercase;
  padding-top: 20px;
}
p.h1Sub {
  font-size: 22px !important;
  line-height: 2;
  color: black;
}
h2.services {
  color: #000;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 20px;
}
.h2SubServices {
  color: #000;
  margin-bottom: 40px;
}
h2.knowUs {
  color: #000 !important;
  padding-bottom: 20px;
  line-height: 2;
  border-bottom: #361607 dotted 3px;
}
h2.contactUs {
  color: #fff !important;
  text-transform: uppercase;
}
.lastTitle p {
  text-align: center;
  justify-content: center;
  color: #000;
}
header {
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.headerImg {
  margin-left: 200px;
}
.address p {
  color: #361607;
  width: 100%;
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: 10px;
  text-align: center;
  line-height: 2;
}
h1.titleContact,
p.titleContact {
  display: flex;
  color: #fff;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
  border-bottom: dotted #361607 6px;
  padding-bottom: 30px;
}
.subTitle {
  color: #fff;
  margin-top: 30px;
  font-size: 30px;
  line-height: 2;
  text-align: center;
}
h2.titleContact2 {
  font-size: 34px;
  color: #000;
  padding: 5px;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
}
label {
  color: white;
  font-size: 22px;
  justify-content: center;
}
label.contactBtn button {
  display: flex;
  align-items: center;
  width: 100px;
  height: 80px;
}
.contactBtn {
  border-radius: 40px;
}
#form_1 {
  text-align: left;
}
#bloc-7 {
  background-color: #333;
  width: 100%;
  height: 100%;
}
.navbar-nav li {
  display: flex;
  align-items: center;
  vertical-align: middle;
  text-decoration: none;
  list-style: none;
  color: #000;
  padding-right: 25px;
}
.col-sm-6 {
  height: 100%;
  width: 100%;
}
.col-sm-12 {
  margin: auto;
  width: 100%;
  color: #000;
}
.mainTitle {
  background-color: #f2f2f27c;
  padding: 20px;
}

div.contactBtn {
  display: flex;
  justify-content: center;
}
.h2SubContactUs {
  color: #fff !important;
  font-size: 18px;
  text-align: center;
}
footer {
  display: flex;
  text-align: center !important;
  justify-content: center !important;
  background-color: #f3976c;
  padding-bottom: 10px;
  width: 100%;
}
.footerLogo img {
  max-height: 40px;
  width: auto;
  text-align: center;
}
.bottomFooter {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #f3976c;
}

.img-responsive .portfolio-thumb {
  display: block;
  width: 100%;
}
img.headerLogo,
img.footerLogo {
  max-height: 40px;
  width: auto;
}
img.footerLogo {
  justify-content: center !important;
  text-align: center !important;
}
